{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#{% extends 'temp/user.html' %}#}
{#{% block base %}#}
{#<body>#}
{#<table border="2" align="center">#}
{#    <tr>#}
{#        <th>PRODUCT</th>#}
{#        <th>DESCRIPTION</th>#}
{#        <th>IMAGE</th>#}
{#        <th>PRIZE</th>#}
{#        <th>SIZE CHART</th>#}
{##}
{#    </tr>#}
{#    {% for i in objval %}#}
{#    <tr>#}
{#        <td>{{ i.p.name }}</td>#}
{#        <td>{{ i.p.discription }}</td>#}
{#        <td><img src="/static/{{ i.p.image }}" height="50%" width="50%"></td>#}
{#        <td>{{ i.p.prize}}</td>#}
{#        <td>{{ i.p.size_chart }}</td>#}
{#    <td><a href="{% url 'ord' idd=i.p_id %}">Order</a></td>#}
{#        <td><a href="{% url 'rv1' idd=i.cr_id %}">Remove</a></td>#}
{##}
{##}
{#    </tr>#}
{#    {% endfor %}#}
{#</table>#}
{##}
{#</body>#}
{#</html>#}
{#{% endblock %}#}


{% extends 'temp/user.html' %}
{% block base %}


    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">PRODUCT</h6>
                <h1>PRODUCTS</h1>
            </div>

            <div class="row">
                {% for i in objval %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="package-item bg-white mb-2">
                        <img class="img-fluid" src="/static/{{ i.p.image }}" alt="">
                        <div class="p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i ></i>{{ i.p.name }}</small>
                                <small class="m-0"><i ></i>{{ i.p.discription }}</small>
{#                                <small class="m-0"><i class="fa  text-primary mr-2">delivery charge</i>{{ i.deliver_charge }} </small>#}
                            </div>
                            <a class="h5 text-decoration-none" href="{% url 'ord' idd=i.p_id %}">order</a>
                            <a class="h5 text-decoration-none" href="{% url 'rv1' idd=i.cr_id %}">remove</a>

                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
{#                                    <h5 class="m-0">${{ i.p.prize }}</h5>#}
{#                                    <h5 class="m-0">Total:${{ i }}</h5>#}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}